*.ts
!*.d.ts
tsconfig.json
.vscode/
.git/
.gitignore
.gitattributes
node_modules/
*.log
.env*
.DS_Store
Thumbs.db
README.md
*.map
certs/
*cert*/
token*
cruft/
prev/
tests/
*.md
!README.md
package-lock.json
.globalize.json5
